{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<head>
  <style>
    hr {
      background-color: black;
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-style: inset;
      border-width: 3px;
    }

    .log {
      border: solid whitesmoke 2px;
      margin-top: 30px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <!-- Empty div -->
      <div class="col-md-4">

      </div>
      <div class="col-md-4" style='margin-left:150px;'>
        <div class='log'>
          {% if form.errors %}
          <p> Password or Username is incorrect </p>
          {% endif %}
          <div class="panel panel-default">

            <div class="panel-heading">
              <center><img src='{% static "images/insta.png" %}' height='70px'></center>
            </div>
            <div class="panel-body">

              <form action="/accounts/login/" method="post">
                {% csrf_token %}
                {% bootstrap_form form%}

                <div class="form-group">
                  <input type="submit" style='width: 350px; height:50px;' class="btn btn-info btn-sm" value="Login"><br>
                  <hr>
                  <center>
                    <h3>Or</h3>
                  </center>
                  <hr>
                  <center><a href="www.facebook.com"><img src='{% static "images/loginfb.jpg" %}' height='100px'
                        width='280px'></a></center>
                </div>
                <input type="hidden" name="next" value="{{next}}">
              </form>
            </div>
          </div>
        </div>
        <div class='reg'>
          <center><p class="mt-2">Don't Have an Account, <a href="/accounts/register/">Sign Up</a></p></center>
        </div>
        <center><h5>Get the app</h5></center>
        <div class='get'>
         <center>
          <img src='{% static "images/app.png" %}' height=40px width=160px>
          <img src='{% static "images/google.png" %}' height=40px width=160px>
         </center> 
        </div>
      </div>
      <!-- empty div -->
      <div class="col-md-4"></div>
    </div>
  </div>
</body>
{% endblock %}