{%extends 'base.html'%}

{% block content %}
{{block.super}}
<div class="container text-center">
  <div class="row ">
    {% for pic in photo %}
        <div class = "col-md-4">
          {% if profile %}
          <img src="pic.user.profile.profile_pic.url}}" alt="" class="card-img-top profile">
          {%else%}
          <img src="pic.image.url" alt="Avatar"
           style='margin-left: -35%;'alt="Profile picture" height="50" width="50">
          {% endif %}
          <h5 style="margin-left: -50%;">{{pic.user}}</h5>
          <img src="{{pic.image.url}}" alt="Image" class="img-responsive" data-toggle ="modal" data-target="#showPicModal{{pic.id}}">
        </div>
    
        <div class="modal fade" id="showPicModal{{pic.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{{pic.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="{{pic.image.url}}" class = "img-responsive"alt="{{pic.name}}">
                <p><strong>Caption: </strong>{{pic.caption}}</p>
                <div class="col-md-4">
                  <p><strong>Posted on :</strong>{{pic.pub_date}}</p>
                  <form action = "{% url 'like-image' %}"   method='POST'>
                    {% csrf_token %}
                    <input type="hidden" name="image_id" value="{{pic.id}}">
                    <button class="btn btn-success" type="submit">like</button>
                    
                  </form>
                  <strong>{{pic.like.all.count}} like(s)</strong>
             
                  <span>
                      <a class="ml-5" href="{% url 'comment' %}"><span>Comments</span>
                          
                      </a>
                  </span>
                </div>
              </div>
              <div class="modal-footer">
                <p>Posted by {{pic.user}}</p>
              </div>
            </div>
          </div>
        </div>
        

    {% endfor %}
</div>

{% endblock %}