
{% load static %}
<div class="navbar fixed-top bg-white" style='border-bottom: 2px solid whitesmoke'>
  <nav class="container">
    <span class="navbar-brand mb-0 h1">
        <a href="/">
            <div id="brand" class="instaicon logo d-none d-sm-block">
              <img src='{% static "images/insta.png" %}' height='40px'>
            </div>
            <div class="instaicon mainicon d-block d-sm-none"></div>
        </a>
    </span>
       <form class="navbar-form" role="search" action="{% url 'search_results' %}"> 
           <input name="search_user" autocomplete="off" id="searching" class="form-control d-none d-md-block" placeholder="Search">
          <i class="spinner "></i>
      </form>
      <span class="pull-right">
         <a href='{% url "homePage" %}'> <img src='{% static "images/home.png"%}' height='30px'></a>
         <a href='{% url "profile" %}'><img src='{% static "images/send.png"%}' height='40px'></a>
         <a href='{% url "newImage" %}'><img src='{% static "images/post.png"%}' height='50px'></a>
         <a href='{% url "profile" %}'><img src='{% static "images/fav.png"%}' height='70px'></a>
         <a href='{% url "like-image" %}'><img src='{% static "images/like.png"%}' height='30px'></a>
         <a href='{% url "profile" %}'><img src='{{profile.profile_pic.url}}' height='40px'></a>
      </span>
  </nav>
</div>